.git
.github
.phpunit.cache
.phpunit.result.cache
phpunit.xml.dist
composer.phar
composer.lock
node_modules
vendor
.env
.env.local
.env.*.local
Dockerfile
docker-compose.yml
docker-compose.override.yml
storage/
public/storage
