/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
/.idea
/.vscode
env.toml
!env.toml.example
/.phpunit.cache
/vendor
/package
composer.phar
.phpunit.result.cache
phpunit.xml.dist
.idea
/node_modules
schema/database.sqlite